footer {
  background-color: white;
  padding: 1.25rem;

  .footer {
    text-align: center;

    .social {
      a {
        color: black;
      }
    }

    .author {
      font-size: 0.875rem;
    }
  }
}
