@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f2f3f9;
  main {
    position: relative;
    right: 0;
    transition: right 300ms ease-in-out;
  }
  &.active {
    main {
      position: fixed;
      min-width: 100%;
      right: 16.25rem;
    }
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  display: inline;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.container {
  max-width: 71.25rem;
  padding: 0 0.75rem;
  margin: 0 auto;

  @include breakpoint-down(lg) {
    max-width: 61.25rem;
  }
}

.title {
  padding: 2rem;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.65rem;
  }
  p {
    font-size: 1.171875rem;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
}

.hide-for-mobile {
  @include breakpoint-down(md) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(lg) {
    display: none;
  }
}

// shadowDOM Styling
idn-confirmed.black::part(color) {
  color: black;
}
idn-confirmed.white::part(color) {
  color: white;
}
//end
