.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #fff;
  border-bottom: 1px solid #eaedf1;

  h1 {
    margin: 0;
    padding: 0.9375rem;
  }

  &__links {
    padding: 0.9375rem;
    a {
      padding: 0.9375rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: black;

      &:not(:last-child) {
        border-right: 1px solid #eaedf1;
      }
    }
  }

  &__btnHamburger {
    padding: 0.9375rem;
    cursor: pointer;
    span {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      background-color: rgb(118, 131, 154);
      transform-origin: 3px 1px;
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &.open {
    .header__btnHamburger {
      span:first-child {
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }
      span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .horizontal-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100% !important;
    z-index: 1000;
    text-align: right;
    a {
      display: block;
      padding: 0.9375rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: black;

      &:not(:last-child) {
        border-bottom: 1px solid #eaedf1;
      }
    }
    .overflow {
      position: fixed;
      opacity: 0;
      left: 0;
      width: calc(100% - 260px);
      height: 100%;
      min-height: 100%;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.45);
    }
    .sidebar {
      position: absolute;
      top: 0;
      right: 0;
      width: 16.25rem;
      height: auto;
      min-height: 100%;
      background-color: #fff;
      // visibility: hidden;
    }
  }
}
