.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #fff;
  border-bottom: 1px solid #eaedf1;
  h1 {
    margin: 0;
  }

  &__links {
    padding: 0.9375rem;
    a {
      padding: 0.9375rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: black;

      &:not(:last-child) {
        border-right: 1px solid #eaedf1;
      }
    }
  }
}
