.grid {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 100%;
  padding: 10px;

  @include breakpoint-down(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint-down(sm) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__item {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(94, 45, 216, 0.3);

    &:nth-child(1) {
      background-color: #f82649 !important;
    }
    &:nth-child(2) {
      background-color: #09ad95 !important;
    }
    &:nth-child(3) {
      background-color: #d43f8d !important;
    }
    &:nth-child(4) {
      background-color: #fc7303;
    }

    p {
      font-size: 0.8125rem;
      font-weight: 400;
      color: white;
      margin: 0;
    }

    h1 {
      font-size: 1.75rem;
      color: white;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    padding: 1.5rem;
  }

  &__emoji {
    margin-left: auto;
  }

  .last-update {
    grid-column: 1 / span 4;
    margin: 0 auto;
    @include breakpoint-down(lg) {
      grid-column: 1 / span 2;
    }
    @include breakpoint-down(sm) {
      grid-column: auto;
    }
  }
}
