.grid {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 100%;
  padding: 0 0.625rem;

  @include breakpoint-down(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint-down(sm) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__item {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(94, 45, 216, 0.3);

    &:nth-child(1) {
      background-color: #f82649 !important;
    }
    &:nth-child(2) {
      background-color: #09ad95 !important;
    }
    &:nth-child(3) {
      background-color: #d43f8d !important;
    }
    &:nth-child(4) {
      background-color: #fc7303;
    }

    p {
      font-size: 0.8125rem;
      font-weight: 400;
      color: white;
      margin: 0;
    }

    h1 {
      font-size: 1.75rem;
      color: white;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    padding: 1.5rem;
  }

  &__emoji {
    margin-left: auto;
  }

  .last-update {
    grid-column: 1 / span 4;
    margin: 0 auto;
    @include breakpoint-down(lg) {
      grid-column: 1 / span 2;
    }
    @include breakpoint-down(sm) {
      grid-column: auto;
    }
  }
}

.card {
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 8px 24px #e5e4e6;
  &__title {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eaedf1;
    background-color: white;

    h3 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
    }
  }

  &__body {
    padding: 1.5rem;
    background-color: white;

    .responsive {
      overflow-x: auto;
      overflow-y: auto;
      height: 34.375rem;
    }
    .idnData {
      margin-top: 2rem;
      text-align: center;
      flex-wrap: wrap;

      &__item {
        width: 100%;
        padding: 0 0.75rem;
        flex-grow: 1;
        flex-basis: 0;

        h5 {
          font-size: 1rem;
          font-weight: 400;
          margin: 0.5rem 0;
        }

        p {
          font-size: 0.8125rem;
          margin: 0;
          color: rgb(118, 131, 154);
        }
      }
    }
  }
}
